.frontpage_square{
position:relative;
overflow:hidden;
padding-bottom:100%;

background-color: blue;
margin: 10px 10px 10px 10px;
}
.frontpage_square img{
position:absolute;
}

/* input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    width: 100%;
} */
