<!doctype html>

<html lang="en">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">

<head>
  <script type="text/javascript">
      // Fix for Firefox autofocus CSS bug
      // See: http://stackoverflow.com/questions/18943276/html-5-autofocus-messes-up-css-loading/18945951#18945951
      // Set to be fixed in Version 60
  </script>
  <meta charset="utf-8">
  <title>FireStarter</title>
  <meta name="description" content="FireStarter">
</head>

<body>

  <div class="container">
    <div class="row">
      {% block content %} {% endblock %}
    </div>
  </div>

</body>
</html>
