{% extends "base.html" %}

{% block content %}


<div class="featurette">
   <div class="featurette-inner text-center">
      <form role="form" class="search has-button">
         <div class="form-group">
            <input type="search" placeholder="Search" class="form-control form-control-lg">
            <button class="btn btn-lg btn-warning" type="button">Search</button>
         </div>
         <!-- /form-group -->
      </form>
      <!-- /.max-width on this form -->
   </div>
   <!-- /.featurette-inner (display:table-cell) -->
</div>
<!-- /.featurette (display:table) -->


 {% for  folder in folders %}
  <div class="col-lg-2 col-md-3 col-sm-4 col-6">
    <form action="{{ url_for('folder') }}" method="post">
      <input type="hidden" name="folder_click" value="{{folder.id}}">
      <input class= "card innerbox bg-primary form-style" type="submit" value="{{folder.title}}">
    </form>
  </div>
 {% endfor %}

 {% for bookmark in bookmarks %}
  <div class="col-lg-2 col-md-3 col-sm-4 col-6">
   <a href="{{ bookmark.url }}">
     <div class="card innerbox bg-light">
       <div class="card-block">
         <h6 class="card-title centering">{{bookmark.title}}</h6>
       </div>
     </div>
   </a>
  </div>
 {% endfor %}

{% endblock %}
