{% extends "base.html" %}

{% block content %}


<div class="featurette">
   <div class="featurette-inner text-center">
      <form action="{{ url_for('search') }}" method="post" class="search has-button">
         <div class="form-group">
            <input type="search" placeholder="Search" name="search_input" class="form-control form-control-lg" autofocus>
         </div>
         <!-- /form-group -->
      </form>
      <!-- /.max-width on this form -->
   </div>
   <!-- /.featurette-inner (display:table-cell) -->
</div>
<!-- /.featurette (display:table) -->


 {% for  folder in folders %}
  <div class="col-lg-2 col-md-3 col-sm-4 col-6">
    <form action="{{ url_for('folder') }}" method="post">
      <input type="hidden" name="folder_click" value="{{folder.id}}">
      <input style = "background: linear-gradient(163deg, rgba({{folder.color_start[0]}},{{folder.color_start[1]}},{{folder.color_start[2]}}),
                                                    rgba({{folder.color_mid[0]}},{{folder.color_mid[1]}},{{folder.color_mid[2]}}),
                                                    rgba({{folder.color_end[0]}},{{folder.color_end[1]}},{{folder.color_end[2]}})) !important;"
      class= "card innerbox form-style" type="submit" value="{{folder.title}}">
    </form>
  </div>
 {% endfor %}

 {% for bookmark in bookmarks %}
  <div class="col-lg-2 col-md-3 col-sm-4 col-6">
   <a href="{{ bookmark.url }}">
     <div class="card innerbox bg-light">
       <div class="card-block">
         <h6 class="card-title centering">{{bookmark.title}}</h6>
       </div>
     </div>
   </a>
  </div>
 {% endfor %}

{% endblock %}
